/* html, body{
  height: 100%;
  margin: 0;
}



.homePage{
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.watchContainer {
  height: 100%;

}
.row {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 2.2vw;
  letter-spacing: 0.8em;
  font-family: 'Roboto Mono', monospace;
}
.wordLine {
  width: 100%;
}
#watchBase {
  height: 650px;
  width: 650px;
  background-color: black;
  padding: 5%;


}
.pushLight {
  color: white; */
}
div{
  width: 600px; height: 360px; margin-bottom: 10px;
}
